{% extends 'base.html.twig' %}

{% block title %}{{ formSchema.displayName }}{% endblock %}

{% block body %}
    <h1>{{ formSchema.displayName }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Submit</button>
    {{ form_end(form) }}

{% endblock %}
